<div class="container-fluid">
  <h3 title="Filtered By User {{getUserDesc()}} (User Name : {{userId}})">
    Filtered By User <b>{{getUserDesc()}}</b> (User Name : <b>{{userId}}</b>)
    &nbsp;&nbsp;<a class="btn btn-primary" title="View All Users"
        [routerLink]="'/protected/users'">&lt;&nbsp;All Users</a>

  </h3>
</div>
<hr style="width: 100%">
<br/>
<div class="container-fluid">
  <app-user-list [usersSubject]="users" [rolesSubject]="roles" [authsSubject]="auths"></app-user-list>
</div>
