<p style="width: 100%; display: inline;">
<app-user-status></app-user-status>
<img src="../../assets/logos/angular.png" style="width: 60px; height: 60px; position: relative; float: left;">
</p>

<div class="container-fluid" style="padding: 30px; padding-top: 50px;">
  <div class="container-fluid">
    <h1 title="{{title}}">
      {{title}}

    </h1>
    <nav class="navbar navbar-default" style="padding-top: 13px;padding-top: 1em;padding-bottom: 13px;padding-bottom: 1em;">
      <div class="container-fluid">
          <div class="ui fluid horizontal steps" style="display: inline-flex;">
            <a  *ngFor="let route of routes" [class.active]="getLinkStyle(route.path)" [ngClass]="{'hidden': isHidden(route.path)}"
                title="{{route.description}}" [routerLink]="[route.path]" class="step">{{route.name}}</a>
          </div>
        </div>
    </nav>
  </div>


  <div class="container-fluid" style="padding-top: 25px;">
    <router-outlet></router-outlet>
  </div>
</div>
