@import "../../../../variables";

div.form-group > div {
  position: relative;
  float: right;
  color: #072080;
  margin-right: 10px;
  font-size: 17px;
  font-size: 1.3em;
}
div.form-group > div.fa-flash,
div.form-group > div.error
{
  color: darkred;
}
div.form-group > div.invisible {
  visibility: hidden;
}

@media (max-width: $screen-sorting-bar-xs) {
  h3 {
    font-size: 13px ! important;
  }
  .btn.btn-primary {
    font-size: 11px ! important;
  }
}
